@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.top-bar {
  background-color: lightsalmon;
  padding: 1rem;
  box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.1);
}

.top-bar h3 {
  margin-left: 3rem;
  color: rgba(255, 255, 255, 0.85);
}

#main {
  width: 75%;
  margin: auto;
}

#side-bar {
  width: 15%;
  /* padding: 1rem; */
  background-color: rgba(0, 0, 0, 0.05);
}

#project-content {
  width: 40%;
  margin: 2rem auto;
}

.add-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border-top: 0.25px solid rgba(0, 0, 0, 0.3);
  display: none;
}

.add-task.add-active {
  display: block;
}

.add-task-btn {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  font: inherit;
  cursor: pointer;
  transition: 180ms;
}

.add-task-btn:hover {
  color: #FFF;
  background-color: lightsalmon;
}

.add-task-link {
  text-decoration: none;
  font: inherit;
  color: inherit;
  margin-left: 8px;
  transition: 180ms;
}

.add-task-link:hover {
  color: lightsalmon;
}

.add-task-exp {
  width: 480px;
  display: flex;
  flex-direction: column;
  display: none;
}

.add-task-exp.add-active {
  display: block;
}

.input-area-exp {
  border: 0.25px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.text-input-exp {
  width: 100%;
  padding: 1rem;
}

.input-fields {
  font: inherit;
  background: none;
  padding: 6px;
  width: 100%;
  border: none;
}

.task-settings-exp {
  display: flex;
  padding: 0 1rem 1rem;
}

.btn-container-exp {
  display: flex;
  justify-content: flex-end;
}

.btn-container-exp > button {
  margin: 0.75rem 0 0 0.75rem;
}

.tasks-view ul {
  list-style-type: none;
}

.task-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.task-content {
  margin-left: 12px;
  line-height: 1.2;
  cursor: pointer; 
   /* change #2 */
}

.task-body {
  opacity: 0.7;
  font-size: 0.875em;
}

.task-info {
  display: flex;
  justify-content: flex-start;
}

.task-info div {
  margin-right: 8px;
}

.btn { 
  font: inherit;
  color:inherit;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms;
}

.btn:hover {
  filter: brightness(0.9);
}

#todo-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-out;
  border: none;
  border-radius: 10px;
  background: white;
  z-index: 10;
  width: 42%;
}

#todo-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.125rem;
  padding: 0 8px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
}

.close {
  background: none;
}

.modal-body {
    display: flex;
}

.text-input {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 75%;
}

.task-title-modal {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
}

.task-description-modal {
  vertical-align: middle;
}

.task-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #636c72;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.04);
    width: 25%;
}

.settings {
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
    margin: 8px 0;
}

.settings > label {
    font-weight: 600;
    margin: 8px 0 4px;
}

.settings > select {
    font-size: 14px;
}

.display-none {
  display: none;
}

.modal-footer {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    margin-left: 8px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 150ms ease-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
